<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator BMI</title>
</head>
<body>

<form action="/result">
    <h1 th:text="${powitanie}"></h1><br>
    <p th:text="${opis}"/><br>
    <p th:text="${waga}"/><br>
    <input type="number" name="weight"><br>
    <p th:text="${wzrost}"/><br>
    <input type="number" name="height">
    <input type="submit" value="Generuj">
    <section style="position: absolute; bottom: 5px; right: 25px;">
        <p>
            Sprawdź inne moje projekty
            <a href="https://github.com/KamilRogala25"
               target="_blank" title="Like My Page!">
                github.com/KamilRogala25
            </a>
        </p>
    </section>

</form>
</body>
</html>